# Console Launcher Configuration
count=5

[0]
name=Gameboy
emulator=internal
extensions=.gb;.gbc
filter=Gameboy ROMs (*.gb;*.gbc)
key_count=8
key_0_name=Up
key_0_val=38
key_1_name=Down
key_1_val=40
key_2_name=Left
key_2_val=37
key_3_name=Right
key_3_val=39
key_4_name=A
key_4_val=88
key_5_name=B
key_5_val=90
key_6_name=Start
key_6_val=13
key_7_name=Select
key_7_val=8

[1]
name=Chip-8
emulator=internal
extensions=.ch8;.c8b
filter=Chip-8 ROMs (*.ch8;*.c8b)
key_count=16
key_0_name=0
key_0_val=88
key_1_name=1
key_1_val=49
key_2_name=2
key_2_val=50
key_3_name=3
key_3_val=51
key_4_name=4
key_4_val=52
key_5_name=5
key_5_val=81
key_6_name=6
key_6_val=87
key_7_name=7
key_7_val=69
key_8_name=8
key_8_val=82
key_9_name=9
key_9_val=65
key_10_name=A
key_10_val=83
key_11_name=B
key_11_val=68
key_12_name=C
key_12_val=70
key_13_name=D
key_13_val=90
key_14_name=E
key_14_val=67
key_15_name=F
key_15_val=86

[2]
name=Space Invaders
emulator=internal
extensions=.inv;.rom;.bin
filter=Space Invaders ROMs (*.inv;*.rom;*.bin)
key_count=6
key_0_name=Left
key_0_val=37
key_1_name=Right
key_1_val=39
key_2_name=Fire
key_2_val=90
key_3_name=Coin
key_3_val=53
key_4_name=1P
key_4_val=49
key_5_name=2P
key_5_val=50

[3]
name=Atari 2600
emulator=internal
extensions=.a26;.bin;.rom
filter=Atari 2600 ROMs (*.a26;*.bin;*.rom)
key_count=7
key_0_name=Up
key_0_val=38
key_1_name=Down
key_1_val=40
key_2_name=Left
key_2_val=37
key_3_name=Right
key_3_val=39
key_4_name=Fire
key_4_val=32
key_5_name=Select
key_5_val=112
key_6_name=Reset
key_6_val=113

[4]
name=NES
emulator=internal
extensions=.nes;.rom
filter=NES ROMs (*.nes;*.rom)
key_count=8
key_0_name=Up
key_0_val=38
key_1_name=Down
key_1_val=40
key_2_name=Left
key_2_val=37
key_3_name=Right
key_3_val=39
key_4_name=A
key_4_val=88
key_5_name=B
key_5_val=90
key_6_name=Start
key_6_val=13
key_7_name=Select
key_7_val=8
